.body {
    width: 50%;
   
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}


.input {
    width: 30%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.drop-down {
   
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

.button {
    background-color: gray; 
    border: 1em;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
}